# Security
*.pem

# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# local variable files
*.tfvars
*.plan

# Ansible temp files
*.retry

#editor
*.idea

#ssh files
id_rsa.pub
id_rsa